<div class="container">
    <form action="" method="POST">
        <div class="form-group ml-5">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="name" value="{{products.name}}" aria-describedby="emailHelp"  placeholder="">

        </div>
        <div class="form-group ml-2">
            <label for="exampleInputPassword1">Category</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="" value="{{products.Category}}" placeholder="">
        </div>
        <div class="form-group mr-5">
            <label for="exampleInputPassword1">Description</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="description" value="{{products.description}}" placeholder="">
        </div>
        <div class="form-group ml-5">
            <label for="exampleInputPassword1">Actual Price</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="price" value="{{products.actualPrice}}"placeholder="">
        </div>
        <div class="form-group ml-5">
            <label for="exampleInputPassword1">Off</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="off" value="{{products.OFF}}"placeholder="">
        </div>
        <div class="form-group ml-5">
            <label for="exampleInputPassword1">Offer Price</label>
            <input type="text" class="form-control"  id="exampleInputPassword1" name="offerPrice" value="{{products.price}}"placeholder="" readonly>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>