{{!-- <div class="container">

    <header class="card-header" style="background-color: white;">
        <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
            <i class="icon-control fa fa-chevron-down"></i>
            <h6 class="title">Category</h6>
        </a>
    </header>
    <div class="filter-content collapse show" id="collapse_1" style="background-color: white;">
        <div class="card-body">
            

            <ul class="list-menu">
                <li><a href="mens-only">Mens </a></li>
                <li><a href="womens-only">Womens </a></li>
                <li><a href="kids-only">Kids </a></li>



            </ul>

        </div> <!-- card-body.// -->
    </div>
    <!-- filter-group  .//-->
<div class="container mt-5">
    
    
    <div class="row">
        {{#each products}}
        <div class="col-md-4 col-sm-6 mt-5">
            <div class="product-grid">
                
                <div class="product-image">
                    <a href="/view-product/{{this._id}}">
                        <img  class="pic-1" style="height: 35em; width:25em; " src="/product-images/{{this._id}}.jpeg">
                    </a>
                    <ul class="social">
                        <li><a href="/view-product/{{this._id}}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a  data-tip="Add to Cart" onclick="addtoCart('{{this._id}}')"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">{{this.OFF}}%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">{{this.name}}</a></h3>
                    <strike>{{this.actualPrice}}</strike>
                    <div class="price"> ₹{{this.price}}
                        
                    </div>
                </div>
            </div>
        </div>
       {{/each}}
    </div>

</div> --}}