
<div class="container mt-5">
    
    <div class="row">
        {{#each orderedProducts}}
        <div class="col-md-4 col-sm-6 mt-5">
            <div class="product-grid">
                
                <div class="product-image">
                    <a href="/view-product/{{this._id}}">
                        <img  class="pic-1" style="height: 25em; width:15em; " src="/product-images/{{this.products._id}}.jpeg">
                    </a>
                   
                </div>
                <div class="">
                    <h5 class=""><a href="#">{{this.products.name}}</a></h5>
                    <div class="pric"> ₹{{this.products.price}}
                        <p> Quantity = {{this.quantity}}</p>
                        
                    </div>
                </div>
            </div>
        </div>
       {{/each}}
    </div>

</div>

